name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          # Базовые зависимости
          sudo apt-get install -y build-essential git python3-dev zip unzip libffi-dev libssl-dev autoconf automake libtool pkg-config zlib1g-dev cmake
          
          # РЕШЕНИЕ ОШИБКИ 100: Установка libtinfo5 вручную для Ubuntu 24.04
          wget http://azure.archive.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.4-2_amd64.deb
          sudo apt install ./libtinfo5_6.4-2_amd64.deb
          
          pip install --upgrade pip
          pip install "Cython<3.0" buildozer

      - name: Build with Buildozer
        run: |
          # Прямой запуск без лишних команд
          buildozer android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload APK
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: GonzaCloud-App
          path: bin/*.apk
